<nav class='sidebar-root'>
  <div class='pt-4'>
    <Sidebar::SidebarItem
      @stage='1'
      @title='Clinician'
      @route='request.service'
    >
      {{concat @request.clinician.firstName ' ' @request.clinician.lastName}}
    </Sidebar::SidebarItem>
    <Sidebar::SidebarItem
      @stage='2'
      @title='Select a service'
      @route='request.service'
      @disabled={{not @request.clinician}}
    >
      {{#if @request.service}}
        {{@request.service.description}}<br />
        {{pluralize @request.service.duration 'minute'}}
      {{/if}}
    </Sidebar::SidebarItem>
    <Sidebar::SidebarItem
      @stage='3'
      @title='Select a location'
      @disabled={{not @request.service}}
      @route='request.location'
    >
      {{@request.location.name}}
      {{@request.location.phone}}
    </Sidebar::SidebarItem>
    <Sidebar::SidebarItem
      @stage='4'
      @title='Select date & time'
      @disabled={{true}}
    />
    <Sidebar::SidebarItem
      @stage='5'
      @title='Your information'
      @disabled={{true}}
    />
  </div>
</nav>